.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-container {
  background-color: black;
  color: white;
  text-shadow: #282c34;
  display: flex;
  justify-content: left;
}

.App-logo {
  max-width: 100px;
  margin: 5px;
  padding: 5px; 
}


.navbarContainer{
  background-color: black;
  color: white;
  padding: 1px;
  align-items: center;
}

.navBarItems{
  color: #f2f2f2;
  font-size: 19px;
  display: flex;
  align-items: center;
}

.navBarItem{
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  text-decoration: none;

}


.CartW{
  width: 80px;
  cursor: pointer;
}

.ItemTotal{
  background-color: rgb(116, 16, 37);
  justify-content: center;
  border-radius: 100% ;
  border: solid 1px  rgb(116, 16, 37);
  padding: 10px;
  font-weight: 600;
}
.greeting{
  background-color:rgb(0, 174, 255);
  padding: 15px;
  margin: 0%;
}

.ProductsTitle{
  font-size: 22px;
}

.foto{
  width: 222px;
  border-radius: 20px;
}

.ProductsContainer{

  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  width: auto;
  max-width: 1530px;
}
.Products{
  position:relative;
  margin: 5px;
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  box-shadow: 3px 7px 7px 3px #836563;
  border-radius: 20px;
  text-align: center;
}
.Products:hover{
  border: 3px solid rgb(116, 16, 37);
}

.ProductsImg{
  width: 200px;
  height: 300px;
}

.cart{
  display: flex;
  position: fixed;
  left: 20%;
  transform: -50% -50%;
  z-index: 1;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  overflow-x: scroll;
  background-color: white;
  margin: 0 auto ;
  box-shadow: #282c34;
  top: 25px;
}

.cartClose{
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  text-align: left;
}

.cartItem img{
  display: grid;
  width: 200px;
}